/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  /*  max-width: 280px; */
}
#page-content{
    margin-left:104px;
    margin-top:100px;
    width: auto;
}
footer{
    margin-left: 104px;
    width: auto;
}
@media (min-width: 950px){
    #page-content, footer{
        margin-left:225px !important;
    }
    #sidebarToggle {
       /* display:none;*/
    }
}