@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Developed by Naftoli Ost";
}
<h2>@ViewBag.Title.</h2>
<hr />
<h3>@ViewBag.Message</h3>
<br />



<address>
    <strong>Email:</strong>   <a href="mailto:naftoliyost@gmail.com">naftoliyost@gmail.com</a><br />
    <strong>Website:</strong> <a href="http://www.naftoliost.dev">naftoliost.dev</a>
</address>